<!DOCTYPE html>
<html>
<head>
    <title>Digital Architecture App</title>
	<meta charset="utf-8" />
    <base href="/">
</head>
<body data-ng-app="digitalArchitectureApp">

    <div data-ng-if="!isAdmin">
        <app-header></app-header>    
        <div data-ng-view></div>
        <app-footer></app-footer>
    </div>

    <div data-ng-if="isAdmin" class="admin-app">
        <admin-header></admin-header>
        <div>
            <div></div>
            <div data-ng-view></div>
        </div>
        
    </div>

    <script src="../../../../bower_components/tinymce-dist/tinymce.js"></script>
    <script src="lib/jquery.js"></script>
    <script src="lib/angular.js"></script>
    <script src="lib/angular-route.js"></script>    
    <script src="lib/angular-sanitize.js"></script>
    <script src="lib/angular-touch.js"></script>    
    <script src="lib/fastclick.js"></script>    
    <script src="lib/moment.js"></script>
    <script src="lib/rx.all.compat.js"></script>
    <script src="../../../../bower_components/angular-ui-tinymce/src/tinymce.js"></script>
    <script src="lib/angular-rx-ui.js"></script>
    <script src="dist/app.js"></script>

</body>
</html>
